@media (min-width: 320px) {
    .section__footer{
        width: 257px;
        color: #1B1C21;
        font-family: 'TT Lakes Regular';
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0.2px;
        margin-left: 16px;
        margin-bottom: 16px;
    }
    .section__footer__button {
        display: flex;
        align-items: center;
        color: #1B1C21;
        font-family: 'TT Lakes Regular';
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: -0.2px;
        padding-left: 16px;
        margin-bottom: 50px;
    }
}
@media (min-width: 768px) {
    .section__footer{
        width: 390px;
    }
}
